body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  margin: 0.5rem 0; 
}

h1 { 
  font-size: 1.5rem;
}

h2 { 
  font-size: 1.2rem;
}

h3 { 
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center { 
  align-items: center;
}

/* Style for products */
.main {
  display: flex;
  flex-wrap: wrap;
}
.product-item { 
  margin: 10px;
  flex: 0 0 22%;
  max-width: 22%;
  
}
.small-img {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}
.btn {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}

/*Style for basket*/
.btn-decrease {
  background-color: #40c0f0;
  width: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  cursor: pointer;
}

.btn-increase {
  background-color: #f04040;
  width: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  cursor: pointer;
}

.space {
  margin: 0.2rem 0;
}

.text-right {
  text-align: right;
}

/*Style for cart*/
.btn-cart {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
  border-radius: 0.5rem;
  
}

